Contracts/TelegramMessage/TelegramMessageRequest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="TelegramMessageRequest"
    targetNamespace="http://tempuri.org/TelegramMessageRequest.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/TelegramMessageRequest.xsd"
    xmlns:mstns="http://tempuri.org/TelegramMessageRequest.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:element name="TelegramMessageRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ChatId" type="xs:long"/>
        <xs:element name="Message" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
